body {
    max-width: 576px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 70rem;
    margin: 2rem auto;
    background-color: #f2f2f2;
}

.restaurant_card {
    width: auto;
    height: 16rem;
    background-color: aqua;

}

.restaurant_card_image {
    width: 100%;
    height: 11rem;
    object-fit: cover;
}

.restaurant_card_description {
    display: flex;
    justify-content: space-between;
    width: 100%;
   

}

