
// The loader appears for 3 seconds when you arrive on the home page //
// It covers the entire screen and use CSS animations //

// Loader backgrownd + animation //
.load {
    position: fixed;
    inset: 0;
    z-index: 1;     
    @include flex-center-direction (column);
    background-color: $background-colour-light-gray;
    opacity: 1;    
    animation: disappear 50ms ($anim-duration-load*3) forwards;

        // Logo //
        &_image {
            width: 50%;
            margin: 1rem;
        }

        // Three points - elipsis //
        &_forms {
            display: flex; 
            justify-content: center;
            align-items: center;  
            margin: 1rem;           
        }        
}

// Elipsis animation //
.load_form { 
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background-image: $background-image-gradient;
    animation: ellipsis $anim-duration-load infinite backwards ease-in-out alternate;
    @for $i from 1 through $num-bars-load {
        &--#{$i} {
            animation-delay: ($anim-delay-load * $i);
        } 
    }
}