// Reset CSS
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    }

// Main elements of the web site
html, body {   
    max-width: 1400px; 
    min-width: 360px;
    margin: auto;
    font-family: 'Shrikhand', Roboto ;
    color: $font-text-colour-black; 
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-family: 'Shrikhand';  
    color: $font-text-colour-black; 
    font-weight: bold;
    font-size: 1.75rem;  
    line-height: 1.5; 
}

h2 {
    font-family: Roboto;  
    color: $font-text-colour-black; 
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;    
}

h3 {
    font-family: Roboto;  
    color: $font-text-colour-black;
    font-weight: bold; 
    font-size: 1.1rem; 
    line-height: 1.2;  
}

h4 {
    font-family: Roboto;  
    color: $font-text-colour-gray;
    font-weight: lighter; 
    font-size: 1rem; 
    line-height: 1.2;
}

p {
    font-family: Roboto;    
}