.restaurant_availability {
    padding: 1rem;
    background-color: $background-colour-white;
    text-align: center;

    .restaurant_availability_title {
        margin-bottom: 1rem;
    }

    .restaurant_availability_text {
        margin-bottom: 1rem;
    }

}