$anim-duration: 500ms;
$num-bars:3;
$anim-delay: ($anim-duration / $num-bars);


.load {
    position: fixed;
    inset: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: $background-colour-gainsboro;
    opacity: 1;
    z-index: 1; 
    animation: disappear 50ms ($anim-duration*6) forwards;


        &_image {
            width: 50%;
            margin: 1rem;
        }

        &_forms {
            display: flex; 
            justify-content: center;
            align-items: center;  
            margin: 1rem;           
        }        
}

@keyframes disappear {
    0% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

.load_form { 
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background-image: $background-image-gradient;
    animation: ellipsis $anim-duration backwards infinite ease-in-out alternate;
    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        } 
    }
}

@keyframes ellipsis {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}