 .restaurant_location {    
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 2.8rem;
    padding: 1rem;
    background-color: $background-colour-light-gray;

        &_text {
            font-family: Roboto;
            font-size: 1rem;
            font-weight: bold;
        }        
}

.fa-location-dot {        
    padding: 0.1rem 1rem;
    font-size: 1.1rem;
}