.restaurants {
    width: auto;
    padding: 1rem;
    background-color: $background-colour-very-light-gray; 

        &_title {
            margin: 2rem 0;
        }

        &_cards {    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 70rem;
            margin: 2rem auto;
        }
}


    
    