.site_tutorial {
    width: auto;
    height: 28.5rem;
    padding: 3rem 2rem;
    background-color: $background-colour-white;

    .site_tutorial_title {
        margin-bottom: 2rem;
    }

    .site_tutorial_steps {
        position: relative;
        width: auto;
        height: 80%;  
    }

    #site_tutorial_steps_icon {
        position: absolute;
        left: 2rem;
        margin-right: 1.5rem;
        color: #808080;
    }

    .site_tutorial_steps_number {
        position: absolute;
        left: -0.5rem;
        padding: 0.1rem 0.5rem;
        border: none;
        border-radius: 1rem;
        background-color: $colour-primary;
        font-size: 1rem;
        color: $font-text-colour-white;     
    }
}