@mixin header-shadow {
box-shadow: 0 0 0.5rem #000000;
}

@mixin shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem #CCCCCC; 
}

@mixin dark-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem #999999; 
}

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction ;
}


$breakpoints: (
    tablete: 768px,
    desktop: 992px,
    large-desktop: 1200px);


@mixin tablete-only {
    @media screen and (max-width: map-get($breakpoints, tablete)) {
        max-width: 768px;
        min-width: 576px;
    }
}

@mixin desktop-only {
    @media screen and (max-width: map-get($breakpoints, desktop)) {
        max-width: 992px;
        min-width: 768px;
    }
}

