@mixin header-shadow {
box-shadow: 0 0 0.5rem #000000;
}

@mixin shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem #CCCCCC; 
}

@mixin dark-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem #999999; 
}

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction ;
}

