//Main colours
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

//Backgrownd colors
$background-colour-white: #FFFFFF;
$background-colour-very-light-gray: #F6F6F6;
$background-colour-light-gray: #DFDFDF;
$background-colour-dark-gray: #353535;

$background-image-gradient: linear-gradient(to bottom, $colour-primary,$colour-secondary);
$background-image-click-btn: linear-gradient(to top left, $colour-primary,$colour-secondary);

//Text colours
$font-text-colour-black: #000000;
$font-text-colour-gray: #666666;
$font-text-colour-white: #FFFFFF;
$font-text-colour-green: #228a70;