//Main
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;


$background-colour-white: #FFFFFF;
$background-colour-very-light-gray: #f6f6f6;
$background-colour-gainsboro: #dcdcdc;
$background-colour-dark-gray: #353535;


$font-text-colour-black: #000000;
$font-text-colour-gray: #666666;
$font-text-colour-white: #FFFFFF;
$font-text-colour-green: #228a70;


$bnt-text-colour: #FFFFFF