$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$background-colour-white: #FFFFFF;
$background-colour-platinum: #e5e4e2;
$background-colour-gainsboro: #dcdcdc;
$background-colour-dark-gray: #353535;

$shadow-colour: #000000;

$font-text-colour: #000000;
$font-text-colour-white: #FFFFFF;

$bnt-text-colour: #FFFFFF