header {
    position: relative;
    width: auto;
    padding: 1rem;
    background-color: $background-colour-white;

    .header_image_logo {
        width: 50%;
        height: auto;
        margin: auto;
    }
}

