// The header is present on all pages //
header {    
    position: relative;   
    width: auto;
    height: 4rem;
    padding: 1rem;

    @include flex-center;    
    
    background-color: $background-colour-very-light-gray;
}

// On the home page, it contains the logo of the web site //
.header_image {
    width: 11rem; 
    height: 2rem;       
}

// On the menu pages, it also contains a back button to the home page //
.header_link {
    position: absolute; 
    top: 1.5rem;  
    left: 1.25rem;
    text-decoration: none;
}

// Icons //
.fa-arrow-left {
    font-size: 1.3rem;
    color: $font-text-colour-black; 
}

