.fa-heart {
    position: absolute;
    top: 1rem;
    right: 1.25rem; 
    background-color: $background-colour-white;
    font-size: 1.5rem;
    color: #666666;
}  

.fa-heart--backgrownd-color-white {
    background-color: $background-colour-very-light-gray;
}

.fa-circle-check {  
    color: $background-colour-white;
    font-size: 1.4rem;
}

.fa-utensils {
    margin-right: 0.75rem ;
    font-size: 1rem;
}

.fa-handshake-angle {
    margin-right: 0.75rem ;
    font-size: 0.70rem;
}