main {
    position: relative;
    width: auto;
    background-color: $background-colour-white;        
}

.restaurant_image {
    width: 100%;
    height: 18rem;

    #restaurant_image {
        width: 100%;
        height: 100%;
    }
}
