// Menu container
.main_menu {
    position: relative;
    width: auto;
    height: 92rem;
    background-color: $background-colour-very-light-gray;

    @media screen and (min-width: map-get($breakpoints, tablete)) {
        height: 102rem;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        height: 70rem;
    }
}

// The last restaurant has a larger menu so the container has been modified respectively
.main_menu--larger {
    height: 97rem;

    @media screen and (min-width: map-get($breakpoints, tablete)) {
        height: 107rem;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        height: 74rem;
    }
}

// Backgrownd restaurant image
.restaurant_image {
    width: 100%;
    height: 18rem;

    @media screen and (min-width: map-get($breakpoints, tablete)) {
        height: 28rem;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        height: 38rem;
    }

    #restaurant_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Restaurant menu
.restaurant_menu {
    position: absolute;
    top: 14.5rem;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $background-colour-very-light-gray;
    text-align: center;

    @media screen and (min-width: map-get($breakpoints, tablete)) {
        top: 24.5rem;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        top: 34.5rem;
    }
}

//Restaurant title
.restaurant_title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0 1.75rem;
    padding-top: 0.5rem;

    // Icons - Like boutton
    & .fa-solid {
        color: transparent;
        background-image: $background-image-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 500ms;
    }

    //Like boutton effects on click    
    & .fa-solid:active {
        opacity: 1;
    }

    // Like boutton effects on hover-desktop version
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        & .fa-solid:hover {
            opacity: 1;
        }
    }
}

// Restaurant menu list + animations

// Upon arrival on the menu pages, the dishes appears gradually with a slight time lag (by group)

// Restaurant menu list
.restaurant_menu_lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.restaurant_menu_list {
    width: 100%;
    margin-bottom: 2.75rem;
    animation: appear ($anim-duration-menu*3) both;

    @for $i from 1 through $num-bars-menu {
        &--#{$i} {
            animation-delay: ($anim-delay-menu * $i);
        }
    }

    // This title (h2) has been adapted in order to capitalize the text
    &_title {
        margin-bottom: 1rem;
        font-size: 1rem;
        color: $font-text-colour-gray;
        text-transform: uppercase;
        text-align: left;

        // In some menu pages, the 'dishes' title is slightly shifted to the right so the it has been modified respectively
        &--offbeat {
            padding-left: 2rem;
        }
    }

    // A green short line is present under the title in all menu pages
    &_title::after {
        display: block;
        content: "";
        width: 2.75rem;
        height: 0.2rem;
        background-color: $colour-tertiary;
    }
}

// In order to add the dishes to the order by clicking on them, a small check mark appears on the right of the dish
// This check mark slides from right to left. If the title of the dish is too long, it is trimmed with ellipsis points

// Name of the dish
.restaurant_menu_item {
    width: 90%;
    text-align: left;
    transition: 250ms;

    h3,
    h4 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

// Price of the dish
.restaurant_menu_price {
    position: absolute;
    right: 0.75rem;
    bottom: 0.35rem;
    padding: 0.5rem;
    font-weight: bold;
    transform: translateX(0rem);
    transition: 250ms;
}

// Checkmark
.restaurant_menu_check {
    position: absolute;
    top: 0;
    right: -3.75rem;
    width: 3.75rem;
    height: 100%;
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $colour-tertiary;
    transform: translateX(0rem);
    transition: 250ms;
}

// Checkmark effects on click
.item_btn:active>.restaurant_menu_item {
    width: 70%;
}

.item_btn:active>.restaurant_menu_price {
    transform: translateX(-3.75rem);
}

.item_btn:active>.restaurant_menu_check {
    transform: translateX(-3.75rem);
}

.item_btn:active>.restaurant_menu_check .fa-circle-check {
    transform: rotate(360deg);
}

// Like boutton effects on hover-desktop version
@media screen and (min-width: map-get($breakpoints, desktop)) {
    .item_btn:hover>.restaurant_menu_item {
        width: 70%;
    }

    .item_btn:hover>.restaurant_menu_price {
        transform: translateX(-3.75rem);
    }

    .item_btn:hover>.restaurant_menu_check {
        transform: translateX(-3.75rem);
    }

    .item_btn:hover>.restaurant_menu_check .fa-circle-check {
        transform: rotate(360deg);
    }
}